<table>
  <% f.fields_for :evaluation_category_scores do |ec_form| %>
      <tr>
        <th><%= ec_form.hidden_field(:evaluation_category_id) %>
          <%= ec_form.label(:score, ec_form.object.evaluation_category.name) %></th>
        <td><%= ec_form.text_field(:score) %> UMATs</td>
      </tr>
  <% end %>
</table>
