<table>
  <tr>
    <th><%= f.label(:main_diagnosis_item_id, _('Diagnóstico principal')) %></th>
    <td><%= f.collection_select(:main_diagnosis_item_id,
				DiagnosisItem.leaves,
				:id, :name) %></td>
  </tr>
</table>
