<tr>
  <th><%= _('Número total de hermanos') %></th>
  <td><%= h @medical_record.total_siblings_amount %></td>
</tr>
<tr>
  <th><%= _('Lugar que ocupa') %></th>
  <td><%= h @medical_record.position_in_siblings %></td>
</tr>

