<tr>
  <th><%= h(_('Clasificación de minusvalía mayor que 33 grados')) %></th>
  <td><%= print_boolean(@medical_record.handicap) %></td>
</tr>

<tr>
  <th><%= _('Grado de dependencia') %></th>
  <td><%= @medical_record.dependency_degree ? '' : h(_("Grado %{dependency_degree}") % {:dependency_degree => @medical_record.dependency_degree }) %></td>
</tr>
