body {
    color: #303030;
    font-family: Sans, arial;
}
a{text-decoration:none;border-bottom:solid 1px #404080;color: #404080;}
a:hover{color:#933;border-bottom:solid 1px #933;background-color:#fff}
a img, table input {vertical-align: text-bottom;}
h1, h2, h3, h4, h5, h6 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 26px;
    font-size:1.8571em;
    line-height: 40px;
    line-height:1.5385em;
    margin-bottom: 0.7692em;
}
h2 {
font-size:1.5714em;
line-height:1.8182em;
margin-bottom: 0.9091em;
}
input, textarea, select {
    border: 1px solid #c0c0c0;
  margin-left: 0;
}
input, textarea {
    padding: .2em .3em;
}
option {
	padding: .3em .2em;
}
input:focus, textarea:focus, select:focus {
  border-color: #303030;
}
#page-wrapper {
    font-size: 1em;
    line-height:1.4285em;
}
#header {
    padding: 5px 5px 15px;
    margin-bottom: 5px;
}
#sidebar {
    padding: 10px;
    background-color: #eee;
    border-right: 1px solid #ddd;
}
#main {
    padding: 10px 20px 20px;
}
#footer {
    padding: 10px 10px 0;
    text-align: center;
    border-top: 2px solid #ddd;
    background-color: #eee;
    color: #666;
    position: relative;
    font-size: 90%;
}
#footer .part {
   display:block;
   float:left;
   padding: 0 10px 10px;
   position:relative;
   left:25%;
   text-align:left;
}
#header h1, #header h2 {
    display: inline;
}
#footer p {
	margin-bottom: 0;
}
#footer a {
	color: #666;
	border-color: #666;
}
#sidebar ul {
    font-weight: bold;
}
#sidebar ul li {
    margin-left: 0;
}
#sidebar ul li li {
    font-weight: normal;
    list-style-type: circle;
}
#context-menu {
	float: right;
	margin-top: -10px;
    padding: 10px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-top: 0px;
}
label.error, span.error { 
    color: #C00; 
}
input.error { 
    border-color: #C00;
    background-color: #FEF; 
}
ul.messages-info, ul.messages-error {
    margin-bottom: 20px;
    margin-bottom: 1.4286em;
    background-color: #EEE;
    border: solid 2px #DFDFEE; 
    border-width: 2px 0;
    padding: 10px 20px 10px 50px;
}
ul.messages-info {
    border-color: #bfdbdb; 
    background: #EEE url(../images/gtk-dialog-info.png) no-repeat 10px center;
}
ul.messages-error {
    border-color:#C00;
    background: #FEF url(../images/gtk-dialog-error.png) no-repeat 10px center;
}
tbody .odd {
    background-color: #fff;
}
tbody .even {
    background-color: #f0f0d8;
}
tbody .active {
    background-color: #f0d860;
}
p.edit {
    background-color: #fff;
    border: solid 1px #999;
    padding: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
}

#navbar, #usrbar {
	display: block;
	background-color: #e5ecf9;
	padding: .2em;
	text-align: right;
	border-bottom: 1px solid #c0c0e0;
}
#usrbar {
	background-color: #eee;
	border-bottom: 1px solid #ccc;
}
#navbar ul, #navbar li {
	display: inline;
	margin: 0;
	padding: 0;
	margin-right: .5em;
}
img {
	border: 0;
}
a.a_alerta {
	color: #922;
}
a.a_alerta:hover {
	background-color: #f22;
	color: #fff;
}
.alerta {
	color: #f22;
}
input.dest-action {
	padding: 0 .3em;
	-moz-border-radius: 3px;
	color:#444;
	border-color: #933;
}
input.dest-action:hover, input.dest-action:focus {
	border-color: #933;
	color: #933;
	background-color: #e33;
	color: #fff;
}
form.button-to, form.button-to div {
  display: inline;
}
form.inline, form.inline div{
  display: inline;
}
form.inline option {
	padding: 0 .2em;
}
fieldset {
	border: 1px solid #c0c0e0;
	-moz-border-radius: 4px;
	margin-bottom: 2em;
	padding: 1em 1em 0;
}
legend {
	color: #933;
	font-weight: bold;
}
h3, h4 {
	color: #933;
}
h4, h5, h6 {
        margin-bottom: 1em;
}
h2 small {
	font-size: 85%;
}
input, select, textarea, .btn {
	border: 1px solid #999;
}
input:hover, input:focus, select:hover, select:focus, textarea:hover, textarea:focus, .btn:hover, .btn:focus {
	border: 1px solid #444;
}
label:hover {
    background-color: #fff;
}
form table th {
    text-align: right;
}
p.clear {
	clear: both;
	margin: 0;
	padding: 0;
}
table th {
	text-align: left;
	padding: .2em .4em;
	background-color: #efefef;
	vertical-align: top;
}
th small {
	font-size: .9em;
	font-weight: normal
}
table td {
	background-color: #efefef;
	color: #333;
	padding: .2em .4em;
}
fieldset table {
	border-spacing: 0 2px;
}
.notice, .error, .info, .errorExplanation {
	background-color: #e5ecf9;
	border: 1px solid #c0c0e0;
        padding: 20px 20px 0;
	margin-bottom: 20px;
}
.error, .errorExplanation {
	border: 1px solid #933;
	background-color: #f9e5ec;
}
table { 
	margin-bottom: 1em;
}
tt {
	font-size: 1.25em;
}
.fieldWithErrors input, .fieldWithErrors textarea, .fieldWithErrors select {
	border: 1px solid #933;
	background-color: #f9e5ec;
}
div.fieldWithErrors {display:inline}
/* Estilos para las diferentes secciones */
#header h1, #header h2 {
	display: inline;
	color: #944;
}
#header h2 {
}
#logo-gat {
	top: 0;
	right: 0;
	margin: 1.7em .5em;
	position: absolute;
}
#navbar li.first {
	position: relative;
        float: left;
	left: 10px;
}

/* ODAT 2.0 */
#context-menu p {
	margin-bottom: 0;
}
.vdata, .hdata, fieldset table {
	width: 100%;
}
fieldset table th, .hdata th {
	width: 22%;
}
a.btn {
  background-color: #eee;
  padding: 0.3em 0.2em;
  color: #303030;
}
a.btn:hover, a.btn:focus {
  background-color: #F2F4F7;
}
.requiredField strong sup {
	font-size: 95%;
	color: #933;
	vertical-align: top;
}
.requiredField {
	border-bottom: solid 1px #933;
}
.note {
	background-color: #f9f9d5;
	border: 1px solid #e0e0a0;
        padding: 10px;
	margin-bottom: 20px;
}
#medical-record-menu {
  background-color: #fff;
  border: 1px solid #c0c0e0;
  padding: 2px;
  overflow: hidden;
}
#medical-record-menu h3 {
  font-size: 1.21em;
  line-height: 1.18em;
  font-weight: normal;

  padding: 4px;

	background-color: #f9f9d5;
	border-bottom: 1px solid #e0e0a0;
}
#medical-record-menu h3, #medical-record-menu p, #medical-record-menu ul {
  margin:0;
}
#medical-record-menu h3 a {
  color: #933;
  border-color: #933;
}
#medical-record-menu h4, #medical-record-menu ul {
}
#medical-record-menu h4 {
  background-color: #eee;
  color: #933;
  margin: 0;
}
#medical-record-menu ul a {
}
#medical-record-menu ul {
        padding: 5px 0px 5px 20px;
      }
#medical-record-menu ul ul {
        margin-bottom: 0;
      }
#medical-record-menu ul li {
        list-style-type: disc;
      }
#medical-record-menu ul li.destroy {
        background-color:#EEEEEE;
        border-top:1px solid #C0C0E0;
        list-style-type:none;
        margin:5px -2px -7px -22px;
        padding:10px 20px;
}
#context-menu * {
	vertical-align:bottom;
}

#context-menu a.btn {
  background-color: #eee;
  padding: 0.2em 0.2em;
  border-bottom: solid 1px #404080;
  color: #404080;
}
#context-menu a.btn:hover, #context-menu a.btn:focus {
  background-color: #fff;
}
.pdf-file {
	background-image:url(/images/icons/pdf.gif);
}
.printer {
	background-image:url(/images/icons/printer.png);
}
a.icon:not([classname~="icon"]), span.icon:not([classname~="icon"]) {
	display:inline-block;
	vertical-align:bottom;
}
.link-list .icon, .icon {
	background-position:left center;
	background-repeat:no-repeat;
	padding-left:20px;
}
#help-menu {border-bottom: 1px solid #ddd}
#help-menu {
	padding: 1.8%;
	border-top: 1px solid #ddd;
	background-color: #eee;
}

