/* Maquetación */
#sidebar {
    width: 14%;
    float: left;
}
#main {
    position: relative;
    float:left;
    width: 80%;
}
#sidebar, #main {
        padding-bottom: 20px;
        margin-bottom: 20px;
}
#sidebar {
    padding-bottom: 10px;
}
#main.simple {
    margin: 0 auto;
    float: none;
    width: auto;
}
#footer {
    clear: both;
}
/* Pie inferior */
/* técnica: http://ryanfait.com/sticky-footer/ */
html, body, #page-wrapper {
    height:100%;
}
#wrapper1 {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}
#push {
    height: 100px;
}
#footer {
    height: 88px;
}
.clear {
	clear: both;
}
