body {
	padding: 8pt;
	font-family: Sans, arial;
	font-size: 11pt;
}
#navbar, #usrbar, #sidebar {
	display: none;
}
#main{
	width: 100%;
}

#main {
	width: 100%;
	border-top: 2px solid #ddd;
	float: none;
}
#footer {
	border-top: 2px solid #ddd;
	background: none;
	display: none;
}
#logo-gat {display:none}
th, td {
    padding: 3pt;
        border: 1px solid #666;
}
table.vdata, table.hdata {
	width: 100%;
}
table.vdata th {
	width: auto;
}

table.hdata th {
	width: 4cm;
	text-align: left;
	vertical-align: top;
}
table.hdata td {
	width: auto;
}
#context-menu {
  display: none;
}
.no-print {
    display: none;
}
