<% form_for @comparative_report_template do |f| -%>
  <% f.fields_for :report_field_templates do |field| -%>
    <% unless field.object.nil? -%>
      <li><%= field.object.name %>
        <%= field.check_box :_destroy %> <%= field.label :_destroy, _('Borrar') %>
      </li>
    <% end -%>
  <% end -%>
<% end -%>
