<tr>
  <td><%= h(center_report.title) %></td>
  <td><%= link_to(l(center_report.created_at, :format => :short), center_report) %></td>
  <td><%= link_to(_('Modificar'), edit_center_report_path(center_report)) %></td>
  <td>
    <%= button_to(_('Eliminar informe'), 
                  center_report, 
                  :confirm => _('¿Realmente deseas eliminar el informe de centro permanentemente?'),
                  :method => :delete, :class => 'dest-action') %>
  </td>
</tr>
