<% page_title _('Nuevo Informe de Centro') -%>

<% content_for(:sidebar) do -%>
  <div class="note"><%= _('En este formulario se puede seleccionar qué datos se mostrarán en el informe') %></div>
<% end -%>

<%= render :partial => 'form' %>
