<ul>
  <li class="first"><%= link_to _('Administración'), 
    admin_path, 
    :class => 'accion-principal' %></li>
  <li><%= link_to _('Documentación ODAT'), docs_path %></li>
  <li><%= link_to _('Acerca de ODAT'), about_path %></li>
</ul>
