<div class="part">
<%= image_tag '/images/patronato.png', :alt => _('Real patronato sobre discapacidad') %>
</div>

<div class="part">
<p>Copyright <%= Time.now.year %> <a href="mailto:siu.4coders@gmail.com" title="Enviar un correo electrónico a siu.4coders@gmail.com">David Siñuela Pastor</a><br/>
<a href="#">XHTML</a>, <a href="#">CSS</a></p>
</div>
