<p><%= image_tag '/images/patronato.png', :alt => _('Real patronato sobre discapacidad') %></p>
<p><small>Aplicación web desarrollada por <a href="mailto:siu.4coders@gmail.com" title="Enviar un correo electrónico a siu.4coders@gmail.com">David Siñuela Pastor</a>.</small></p>
<p><small>Página construida conforme a los estándares <a href="#">XHTML</a> y <a href="#">CSS</a>.</small></p>
